
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  position: fixed;
  width: 100%;
  padding: .8rem 0;
  background-color: white;
  z-index: 1;
}
.mode-btn {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.mode-btn p {
  margin: 0 .7rem;
}
.sun-icon, .moon-icon {
  font-size: 22px;
}

/* ============================ DARK MODE ============================ */
.dark-mode-app .navbar {
  background-color: #3A3A3A;
  color: #b3b3b3;
}
.dark-mode-app .sun-icon {
  color: white;
}

/* ========= MAIN CONTAINER DARK MODE ========== */
.dark-mode-app .main {
  background-color: #202020;
}
.dark-mode-app .subtitle {
  color: #b3b3b3;
}
.dark-mode-app .controls {
  background-color: #3A3A3A;
  text-align: center;
}
.dark-mode-app .search-input { 
  border: 0.2rem solid #ffcaca; 
  background: #3A3A3A;
}
.dark-mode-app .search-input:hover {
  box-shadow: 0px 0px 10px 0px #fff;
}
.dark-mode-app .country-wrapper {
  background-color: #3A3A3A;
  box-shadow: 0px 0px 0px 0px #fff;
  color: #b3b3b3;
}
.dark-mode-app .country-wrapper:hover {
  transform: scale(1.04);
  box-shadow: 0px 0px 0px 0px #fff;
}

/* ========= GRAPH CONTAINER DARK MODE ========== */
.dark-mode-app .bar-container {
  background-color: #202020;
  box-shadow: 0px 0px 12px 0px rgba(255, 255, 255, 0.25);
  color: #b3b3b3;

}
.dark-mode-app button {
  color: #fff;
}
.dark-mode-app .container-header, .dark-mode-app .graphs {
  background-color: #3A3A3A;
}

/* ========= GRAPH CONTAINER DARK MODE ========== */
.dark-mode-app .main-card-cont {
  background-color:#202020;
  color: #b3b3b3;
}
.dark-mode-app .back-btn, .dark-mode-app .maps a, .dark-mode-app .border-country {
  box-shadow: 0px 0px 8px -3px #fff;
  color: #b3b3b3;
}

.dark-mode-app .country-name {
  color: #b3b3b3;
}